
# SPDX-FileCopyrightText: 2025-2026 Chimera-NAS Project Contributors
# SPDX-License-Identifier: Unlicense
 
[submodule "ext/xdrzcc"]
	path = ext/xdrzcc
	url = https://github.com/chimera-nas/xdrzcc.git
[submodule "ext/libevpl"]
	path = ext/libevpl
	url = https://github.com/chimera-nas/libevpl.git
