
# SPDX-FileCopyrightText: 2025 Ben Jarvis
# SPDX-License-Identifier: Unlicense
 
[submodule "ext/xdrzcc"]
	path = ext/xdrzcc
	url = https://github.com/chimera-nas/xdrzcc.git
[submodule "ext/libevpl"]
	path = ext/libevpl
	url = https://github.com/chimera-nas/libevpl.git
[submodule "ext/libsmb2"]
	path = ext/libsmb2
	url = https://github.com/benjarvis/libsmb2.git
