# SPDX-FileCopyrightText: 2025 Ben Jarvis
#
# SPDX-License-Identifier: Unlicense

orig
core
core.*
build
publish.sh
cap
.DS_Store
.cache
private
*.cap
*.diff
*.rej
*.orig
Testing
compile_commands.json
settings.local.json
specs
